on:
  workflow_dispatch:

jobs:
  job_1:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      max-parallel: 3
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        node_version: [14.x, 15.x, 16.x]

    steps:

      - uses: actions/setup-node@v6.2.0
        with:
          node-version: ${{ matrix.node_version }}

      - run: node -v
