on:
  workflow_dispatch:

jobs:
  example:
    runs-on: ubuntu-latest
    steps:
    - run: |
        deprected=true
        if [[ deprected ]]; then
          echo "::warning::Deprected function found"
        fi
