name: First Workflow

on:
  push: 
    branches: 
      - master
jobs:
  example-job:
    runs-on: ubuntu-latest

    steps:
      - name: print a welcome message
        run: echo "Welcome to our first githup actions workflow!"
